* {
    font-family: 'Jost', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}



/* HOANG CSS */
 .title{
    padding-bottom: 30px;
}
 .title h6{
    color: #f53626;
    font-weight: 500;
}
 .title h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
.priceService {
    background-color: #936be80d;
}

.freePackage,
.proPackage {
    background-color: white;
    /* margin: 30px 0; */
    align-self: center;
    border-radius: 6px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.priceService__content ul li {
    list-style-type: none;
    padding: 10px 0;
}

.freePackage__item-top {
    padding-top: 30px;
}

.priceService__content h4 {
    font-size: 40px;
    text-align: center;
    line-height: 45px;
    font-weight: 600;
    margin: 15px 0 20px;
    color: #189A46;
}

.priceService__content h6 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;
}

.priceService__content h4 label {
    font-size: 25px;
    color: #189A46;
    vertical-align: text-top;
}

.priceService__content h4 span {
    font-size: 20px;
    color: gray;
    font-weight: 300;
}

.priceService__content ul {
    padding: 30px;
}

.priceService__content ul {
    padding: 30px;
}

.buy_button button {
    color: white;
    font-size: 19px;
    background-color: #189A46;
    border-radius: 10px;
    padding: 15px 30px;
    border: 1px solid transparent;
    margin-bottom: 30px;
}
.buy_button button:focus{
    outline: none;
}
.buy_button button:hover{
    background-color: #189A46;
}
.priceService__content .standardPackage__item {
    box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
    border-radius: 6px;

    background-color: white;
}

.priceService__content .standardPackage__item-top {
    background-color: #189A46;
    color: white;
    padding: 30px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.priceService__content .standardPackage__item-bottom {
    /* background-color: white; */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.priceService__content .standardPackage__item-top h4,
.priceService__content .standardPackage__item-top label,
.priceService__content .standardPackage__item-top span {
    color: white;
}
.priceService__content .standardPackage__item-top label{
    margin: 0;
}
.standardPackage {
    z-index: 1;
    padding: 0 !important;
}
.standardPackage__item-top h5{
    display: inline-block;
    background-color: white;
    color: #189A46;
    padding: 10px 20px;
    border-radius: 10px;
}

/* VIDEO POPUP  */
.video__content{
    position: relative;
}
.img-fluid{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.open-popup-link{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: calc(50%);
    cursor: pointer;
 text-decoration: none;
 color: #189A46;
}
.play-open-popup:hover{
    color: #189A46;
}
.play-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    line-height: 50px;
    transition:  .3s ease-in-out;
    animation: ripple 1s linear infinite;
}
@keyframes ripple{
    0% {
        box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
    }
    
    100% {
        box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}
#video-link{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}
.video-hide{
    display:  none !important;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
